<% provide(:title, "About") %>
<h1>About</h1>

<!-- PGA Professional -->
<div class="row-fluid">
  
  <div class="span4" style="min-width:250px">
    <%= image_tag("PGA.jpg", alt: "PGA", class: "img-rounded") %>
    <h2>Certified PGA Professional</h2>
  </div>  
  
  <div class="span8" style="min-width:250px">
    <h3>My Mission</h3>
    <p>
      Through golf lessons and clinics, I will assess what golf means 
      to an individual and develop goals and expectations that will 
      help each person experience the game of golf in a fun and exciting way.
    </p>
  </div>

</div>