<% provide(:title, "About") %>
<h1>About</h1>
<h3>Mission Statement</h3>
<p>
	Through golf lessons and clinics, I will assess what golf means 
	to an individual and develop goals and expectations that will 
	help each person experience the game of golf in a fun and exciting way.
</p>