<% provide(:title, "Contact") %>
<h1>Contact</h1>
<address>
	<strong>George F. Johnson</strong> <br/>
	<abbr title="Phone">P:</abbr> <a href="tel:+12259365335">(225) 936-5335</a> <br/>
	<abbr title="Email">E:</abbr> <a href="mailto:georgejohnson85@gmail.com">georgejohnson85@gmail.com</a> <br/>
</address>

<address>
	<strong>Santa Maria Golf Academy</strong><br/>
	18460 Santa Maria Pkwy <br/>
	<abbr title="Phone">P:</abbr> <a href="tel:+12257533082">(225) 753-3082</a> <br/>
</address>

<address>
	<strong>Santa Maria Golf ProShop</strong> <br/>
	<abbr title="Phone">P:</abbr> <a href="tel:+12257529667">(225) 752-9667</a> <br/>
	Course Manager: <a href="mailto:bkernan@brec.org">Boyd Kernan</a> <br/>	
</address>