<div class="center hero-unit">
	<h1>Welcome to G. F. Johnson Golf</h1>
	
	<h2>
		Making the game enjoyable for all people.
	</h2>
	
	<%= link_to "Schedule a lesson today!", signup_path, class: "btn btn-large btn-primary" %>
</div>
