<% provide(:title, "Technology") %>
<h1>Technology</h1>

<div class="row-fluid" style="max-width: 1000px;">
	<ul class="thumbnails">
		<li class="span6" style="min-width: 275px; max-width: 500px;">
			<div class="thumbnail">
				<%= link_to image_tag("TrackMan_logo.png", alt: "Trackman Golf", class: "img-rounded"), products_and_services_path %>
				<h3>Trackman Pro</h3>
				<p>The world's most trusted launch monitor. Allows for instant recording of ball flight and club swing data.</p>
				<p><a class="btn" href="http://trackman.dk/Products/TrackMan-Pro.aspx" target="_blank">Learn more &raquo;</a></p>
			</div>
		</li>
		<li class="span6" style="min-width: 275px; max-width: 500px;">
			<div class="thumbnail">
				<%= link_to image_tag("Zenio.png", alt: "Zenio Sports", class: "img-rounded"), "#" %>
				<h3>Zenio</h3>
				<p>ZENIO is a revolutionary new training and fitting system that 
				gives golfers immediate and accurate data on their putting in real 
				time and in real outdoor  conditions.
				</p>
				<p><a class="btn" href="http://www.zeniosports.com" target="_blank">Learn more &raquo;</a></p>
			</div>
		</li>
	</ul>
</div>
