<% provide(:title, "Technology") %>
<h1>Technology</h1>

<%= link_to image_tag("TrackMan_logo.png", alt: "Trackman Golf", width: 200, height: 200), "http://trackman.dk" %>
<p>	
	World's most trusted launch monitor.
</p>