<% provide(:title, "New lesson") %>
<h1>New Lesson</h1>

<div class="row-fluid">
  <aside class="span4" style="min-width: 250px;">
    <%= render "shared/user_info" %>
  </aside>
  <div class="span8" style="min-width: 250px;">
    <%= render "shared/lesson_form" %>
  </div>
</div>