<footer class="footer">
	<small>
		&copy; G. F. Johnson Golf 2013 | 
		Created by <a href="http://thegradientvector.com" target="_blank">John Harvey</a>
	</small>
	<!-- &middot; -->
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li>|</li>
			<li><%= link_to "Back to top", "#" %></li>
		</ul>
	</nav>
  <span id="site-seal"> 
    <script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=ZiaYxUseYgMYmfDnfTmuLRu0xzLMgNXoGHUtpKCnfaHfozz60p1smRVdVuGP">
    </script>
  </span>
</footer>
